<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice VueJS</title>
</head>

<body>
    <div id="shopping-list">
        <!-- we can get our data using Vue templating syntax-->
        <!-- NOTE that we can only evaluate one expression at a time-->
        <!-- We can't also declare variables or evaluate if statements within these templates-->
        <!-- but we can use a short hand i.e tenary operator-->
        <!-- <h1>{{header.toLowerCase()}}</h1>
        <h2>{{header ? "Welcome" : ""}}</h2> -->
        <h2>{{header || "No header found"}}</h2>
        <!-- poweful vue reactivity system-->
        <!-- we can use v-model directive to bind our header to the input -->
        <!-- ensures the text in the input stays in sync with the header at all times-->
        <input v-model="header">

        <!-- Rendering list using v-for directive-->
        <!-- Remember to provide a key attribute that is unique-->
        <!-- we can also access the index of an item in our v-for-->
        <!-- v-for is also reactive i.e. when we push data to our array it shows up at the same time-->
        <ul>
            <li v-for="(item, index) in items" :key="item.id">{{index}} {{item.label}}</li>
        </ul>

        <!-- v-for can handle objects too -->
        <ul>
            <li v-for="(user, key) in users" :key="key">{{user.name}} - {{user.age}}</li>
        </ul>

        <!-- v-model also accepts modifiers e.g. v-model.lazy, v-model.number, v-model.trim-->
        <!-- v-model can be used for all form elements -->
        <div class="add-item-form">
            <!-- SUPPOSE we want to submit an item on enter rather than pressing the submit button-->
            <!--- we can attach an event listener to the input using the v-on directive to listen to the key-up event-->
            <!-- to ensure that we are clicking the Enter key and not any other key, we can use one of the Key modifiers-->
            <!-- a key modifier is an event modifier that applies to keyboard based events -->
            <!-- they allow us to alter the behaviours of events using a declarative syntax-->
            <!-- we can use the @ symbol instead of the v-on: syntax-->
            <input @keyup.enter="items.push({id: items.length + 1, label: newItem})" type="text" v-model="newItem"
                placeholder="Add an item"><br /><br />
            <strong>Priority</strong>
            <label>
                <input type="radio" name="priority" id="priority" v-model="newItemPriority" value="high">High</label>
            <label><input type="radio" name="priority" id="priority" v-model="newItemPriority"
                    value="low">Low</label><br /><br />
            <!---use the v-on click to listen to click events on a button-->
            <button v-on:click="items.push({id: items.length + 1, label: newItem})" class="btn btn-primary">
                Save Item
            </button>
        </div>
        {{newItem}} | {{newItemPriority}}

        <div><label>
                Preference
                <select name="preference" id="preference" v-model="newItemPriority">
                    <option value="high">High</option>
                    <option value="low">Low</option>
                </select>
            </label><br /><br />

            <label> Is Favorite
                <input type="checkbox" name="isFavorite" id="isFavorite" v-model="isFavorite">
            </label>
            {{isFavorite}}
        </div>

        <!-- We can use checkboxes to collect multiple values from user-->
        <label><input type="checkbox" name="programming" id="programming" v-model="favoriteProgrammingLanguages"
                value="java">Java</label>
        <label><input type="checkbox" name="programming" id="programming" v-model="favoriteProgrammingLanguages"
                value="python">Python</label>
        <label><input type="checkbox" name="programming" id="programming" v-model="favoriteProgrammingLanguages"
                value="php">PHP</label>
        <label><input type="checkbox" name="programming" id="programming" v-model="favoriteProgrammingLanguages"
                value="javascript">JavaScript</label><br /><br />

        <p>My favorite programming languages are:</p>
        <ul>
            <li v-for="(language, index) in favoriteProgrammingLanguages" :key="index">{{language}}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        // create our View instance
        // pass an empty config object
        //.mount tells Vue where to mount on our page
        const shoppingList = Vue.createApp({
            // display some vue data to the page
            // the object that data returns is where we can store data for our view instances to use
            data() {
                //$vm.data.items.push({id: 4, label: $vm.data.newItem})
                return {
                    header: "Shopping List App",
                    items: [
                        { id: 1, label: "10 party hats" },
                        { id: 2, label: "2 board games" },
                        { id: 3, label: "28 cups" }
                    ],
                    newItem: "",
                    newItemPriority: "low",
                    isFavorite: false,
                    favoriteProgrammingLanguages: [],
                    users: {
                        "user-1": { name: "Isaac Obuya", age: 25 },
                        "user-2": { name: "John Doe", age: 30 },
                        "user-3": { name: "Nick James", age: 22 }
                    }
                }
            }
        }).mount("#shopping-list")
    </script>
</body>

</html>